@inherits TournamentPage

@using TournamentApp.Components.Shared

@page "/tournaments"

@rendermode InteractiveServer

<PageTitle>Tournaments</PageTitle>

<div class="container fluid top-separator">
    <div class="row justify-content-center">
        <h1>Tournaments</h1>
        <div class="top-separator">
            <div class="card">
                <div class="card-header">
                    List of Tournaments
                </div>
                <div class="card-body">

                    <p>Select option you want</p>
                    
                    <Button Color="Color.Primary" Clicked="@(() => ShowModal())">Create Tournament</Button>
                    @* <Button Color="Color.Secondary" Clicked="@(() => NavigateTo("/match/join"))">Join Match</Button> *@

                </div>
            </div>        
        </div>
        <ErrorMessage Message="@ErrorMessage" Visible="@DisplayError" />
        <div class="top-separator">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var tournament in Tournaments)
                    {
                        var idLink = $"tournaments/{tournament.Id}";
                        <tr>
                            <td scope="row">
                                <Anchor To="@idLink">
                                    <Icon Name="IconName.Walking" />
                                </Anchor>
                            </td>
                            <td>@tournament.Name</td>
                            <td>@tournament.Description</td>
                        </tr>
                    }
                </tbody>
            </table>            
        </div>

    </div>
</div>

<Modal @bind-Visible="@DisplayModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>New Tournament</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit Placeholder="Enter name..." />
            </Field>
            <Field>
                <FieldLabel>Description</FieldLabel>
                <MemoEdit Rows="3" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>